@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://i.pinimg.com/564x/a3/19/23/a31923a5a32745aae6e0dec93a390c9d.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  backdrop-filter: blur(2px) saturate(100%);
    -webkit-backdrop-filter: blur(2px) saturate(100%);
    background-color: rgba(24, 24, 68, 0.663);
    border-radius: 20px;
    border: 2px solid rgba(92, 137, 148, 0.463);
  margin-top: 5rem;
  padding: 2rem;
  overflow-y:auto ;
  max-height: 400px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #bfb5e9;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #e4d7d7;
}

.todo-input::placeholder {
  color: #e4d7d7;
}

.todo-btn {
  background: #3d1b92;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}


.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #28247b;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c2c5d4;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 